.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.*env
.python-version
.ipynb_checkpoints

# IDE
venv/
.vscode/
.idea/
*.bak

# Dynaconf secret
.secrets.*

# Hypothesis
.hypothesis

# Integration
wandb

tmp/

output/

data/

logs/